#!/usr/bin/env ruby

compile '/index.md' do
  filter :erb
  filter :pandoc, args: [{ f: 'markdown', to: 'html5' }]
  layout '/main.*'
end

compile '/publications.html' do
  filter :erb
  layout '/page.*'
end

compile '/styles/*' do
  filter :sass, :syntax => :scss, :style => :compressed
end

compile '/stuff/*' do
  # pass
end

compile '/**/*' do
  unless @item.binary?
    # nothing to do
    case @item[:extension]
    when "md"
      filter :erb
      if @item[:toc] == 'true'
        filter :pandoc, args: [{ f: 'markdown', to: 'html5' }, :toc]
      else
        filter :pandoc, args: [{ f: 'markdown', to: 'html5' }]
      end
      layout '/page.*'
    when "org"
      filter :org
      layout '/page.*'
    when "erb"
      filter :erb
    end
  end
end

# Routing

route '/sitemap.*' do
  '/sitemap.xml'
end

route '/styles/*' do
  @item.identifier.without_ext + '.css'
end

route '/**/*.{html,md,org}' do
  if @item.identifier =~ '/index.*'
    @item.identifier.without_ext + '.html'
  else
    @item.identifier.without_ext + '/index.html'
  end
end

ignore '/**/_*' # No partials

route '/**/*' do
  @item.identifier.to_s
end

layout '/**/*', :erb
