#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/blog.*'
end

compile '/index.md' do
  filter :erb
  filter :pandoc, args: [:s, { f: 'markdown', to: 'html' }]
  layout '/main.*'
end

compile '/publications.html' do
  filter :erb
  layout '/page.*'
end

compile '/archives.html' do
  filter :erb
  layout '/page.*'
end

# This is an example rule that matches Markdown (.md) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#
#compile '/**/*.md' do
#  filter :kramdown
#  layout '/default.*'
#end

compile '/styles/*' do
  filter :sass, :syntax => :scss
end
end

compile '/**/*' do
  if @item.binary?
    # nothing to do
      else
        case @item[:extension]
          when "md"
            filter :erb
            if @item[:toc] == 'true'
              filter :pandoc, args: [:s, { f: 'markdown', to: 'html' }, :toc]
            else
              filter :pandoc, args: [:s, { f: 'markdown', to: 'html' }]
            end
            
            layout '/post.*'
        when "org"
          filter :org
        when "erb"
          filter :erb
        end
  end
end

# Routing

end

route '/**/_*' do
  nil # No partials
end

route '/styles/*' do
  route_with_new_extension "css"
end

route %r[/blog/([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)\..*] do |y, m, d, slug|
  "/blog/#{y}/#{m}/#{d}/#{slug}/index.html"
end

route '/**/*.{html,md}' do
  if @item.identifier =~ '/index.*'
    '/index.html'
  else
    @item.identifier.without_ext + '/index.html'
  end
end

ignore '/**/_*' # No partials

route '/**/*' do
  @item.identifier.to_s
end

layout '/**/*', :erb
