/*-------------------------------------------------------*\

    Pintsize
    Url: http://www.pintsize.io
    Github: https://github.com/alistairtweedie/Pintsize/

/*-------------------------------------------------------*/
    
@import 'utilities/_variables';
@import 'utilities/_functions';
@import 'utilities/_mixins';
@import 'utilities/_helpers';
@import 'utilities/_web-fonts';

@import 'base/_normalise';
@import 'base/_base';
@import 'base/_grid';
@import 'base/_typography';

@import 'modules/_buttons';
@import 'modules/_forms';
@import 'modules/_links';
@import 'modules/_lists';
@import 'modules/_tables';



/*---------*\
    Site
/*---------*/
.hero {

	 color: #fff;
	 text-align: center;
	 padding: 5rem 0;
	 position: relative;

	 @include break-at(640px){

      padding: 10rem 0;

   }

   img {

		  max-width: 70px;

		  @include break-at(640px){

         max-width: 100%;

      }

   }

	 p {

		  margin-top: 0;
		  font-size: 20px;
		  font-size: 2rem;

	 }

}

html, body {
	 height: 100%;
}

body {
	 width: 100%;
}

#sky {
   width: 100%;
   height: 90%;
   position: absolute;
   overflow: hidden;
   top: 0;
   background: $primary-color;
   z-index: -1;
}

#sky div {
   background: lighten($primary-color, 20%);
   border-radius: 100%;
   position: absolute;
   visibility: hidden;
   -webkit-animation: fade 10s infinite;
}

.nav {
   
   ul {
      list-style-type: none;
      background-color: $primary-color;
      text-align: right;
      padding: 0;
      margin: 0;
   }
   
   a {
      text-decoration: none;
      color: #fff;
      display: block;
      transition: .3s background-color;
      
      &:hover {
         background-color: darken($primary-color, 10%);
      }
      
      &:active {
         background-color: #fff;
         color: darken($primary-color, 20%);
         cursor: default;
      }
   }

   li {
      font-size: 2rem;
      line-height: 4rem;
      height: 4rem;
      border-bottom: 1px solid $primary-color;
      text-align: center;
      
      .logo {
         height: 2rem;
         width: auto;
      }

      @include break-at(640px){ 
         width: 160px;
         height: 5rem;
         line-height: 5rem;
         font-size: 2rem;
         
         display: inline-block;
         margin-right: 0;
         
         &:first-child {
            float: left;
         }
      }
   }
   
}

.sidebar {
   margin-bottom: 5rem;
   
   h3 {
      margin: 0;
      padding: 0 0 2rem;
      text-align: left;
      text-transform: uppercase;
      line-height: 2.5rem;
   }
   
   ol, ul {
      list-style-type: none;
   }
}


.avatar {
   margin-top: 4rem;
   border-radius: 50%;
}

.contact {
   h2 {
      font-size: 4rem;
      padding: 0;
      margin-top: 6rem;
   }
   h3 {
      font-size: 2rem;
      padding: 0;
   }
   a {
      color: "#428dda";
   }
}
