/*-------------------------------------------------------*\

    Pintsize
    Url: http://www.pintsize.io
    Github: https://github.com/alistairtweedie/Pintsize/

/*-------------------------------------------------------*/
    
@import 'utilities/_variables';
@import 'utilities/_functions';
@import 'utilities/_mixins';
@import 'utilities/_helpers';

@import 'base/_normalise';
@import 'base/_base';
@import 'base/_grid';
@import 'base/_typography';

@import 'modules/_buttons';
@import 'modules/_forms';
@import 'modules/_links';
@import 'modules/_lists';
@import 'modules/_tables';



/*---------*\
    Site
/*---------*/
.hero {

	 color: #fff;
	 text-align: center;
	 padding: 5rem 0;
	 position: relative;

	 @include break-at(640px){

      padding: 10rem 0;

   }

   img {

		  max-width: 70px;

		  @include break-at(640px){

         max-width: 100%;

      }

   }

	 p {

		  margin-top: 0;
		  font-size: 20px;
		  font-size: 2rem;

	 }

}

html, body {
	 height: 100%;
}

body {
	 width: 100%;
}



