/*-------------------------------------------------------*\

    Pintsize
    Url: http://www.pintsize.io
    Github: https://github.com/alistairtweedie/Pintsize/

/*-------------------------------------------------------*/
    
@import 'utilities/_variables';
@import 'utilities/_functions';
@import 'utilities/_mixins';
@import 'utilities/_helpers';
@import 'utilities/_web-fonts';

@import 'base/_normalise';
@import 'base/_base';
@import 'base/_grid';
@import 'base/_typography';

@import 'modules/_buttons';
@import 'modules/_forms';
@import 'modules/_links';
@import 'modules/_lists';
@import 'modules/_tables';


@import 'modules/_syntax';

/*---------*\
    Site
/*---------*/
.hero {
   color: #fff;
   text-align: center;
   padding: 5rem 0;
   position: relative;

   @include break-at(1200px){
      padding: 10rem 0;
   }

   img {
      max-width: 70px;

      @include break-at(1200px){
         max-width: 100%;
      }

   }

   p {

      margin-top: 0;
      font-size: 20px;
      font-size: 2rem;

   }
}

html, body {
   height: 100%;
}

body {
   width: 100%;
}

#sky {
   width: 100%;
   height: 90%;
   position: absolute;
   overflow: hidden;
   top: 0;
   background: $primary-color;
   z-index: -1;
}

#sky div {
   background: lighten($primary-color, 20%);
   border-radius: 100%;
   position: absolute;
   visibility: hidden;
   -webkit-animation: fade 10s infinite;
}

.center {
   text-align: center;
}

.nav {
   
   ul {
      list-style-type: none;
      background-color: $primary-color;
      text-align: right;
      padding: 0;
      margin: 0;
   }
   
   a {
      text-decoration: none;
      color: #fff;
      display: block;
      transition: .3s background-color;
      
      &:hover {
         border: 1px solid #ccc;
      }
      
      &:active {
         background-color: #fff;
         color: darken($primary-color, 20%);
         cursor: default;
      }
   }

   li {
      font-family: 'Lato', sans-serif;
      font-size: 2rem;
      line-height: 4rem;
      height: 4rem;

      text-align: center;
      
      .logo {
         height: 2rem;
         width: auto;
      }

      @include break-at(1200px){ 
         width: 160px;
         height: 4rem;
         line-height: 4rem;
         font-size: 2rem;
         padding-top: 1rem;
         display: inline-block;
         margin-right: 0;
         
         &:first-child {
            float: left;
         }
      }
   }
   
}

.page {
   h1 {
      text-align: center;
      word-wrap: break-word;
      margin-bottom: 6rem;
   }
}

.post {
   
   h1 {
      margin-bottom: 0;
      text-align: center;
      word-wrap: break-word;
   }
   .tags, .date {
      margin-top: 0.4rem;
      margin-bottom: 2rem;
      color: #aaa;
      text-align: center;
   }
   
   @include break-at(1200px){ 
      .date {
         text-align: left; 
      }
      .tags {
         text-align: right;
      }
      .date, .tags {
         margin-bottom: 6rem;
      }
   }
}

.sidebar {
   display: block;
   margin-bottom: 5rem;
   margin-top: 6rem;
   
   @include break-at(1200px){ 
      padding-left: 3rem;
   }
   
   h3 {
      margin: 0;
      padding: 0 0 2rem;
      text-align: left;
      text-transform: uppercase;
      line-height: 2.5rem;
   }
   
   ol, ul {
      list-style-type: none;
   }
}


.avatar {
   margin-top: 4rem;
   border-radius: 50%;
}

.img-circ {
   border-radius: 50%;
   box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.contact {
   .name {
      margin-top: 6rem;
      font-size: 4rem;
      font-weight: 600;
      text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
   }
   .place {
      font-size: 2.5rem;
   }
   .mail {
      font-size: 2rem;
   }
}

.publications {
   h1 {
      text-align: center;
   }
   
   img {
      max-width: 100%;
   }
   .papert {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #222;
      font-size: 2rem;
      font-weight: 400;
   }
   
   .paperd {
      font-weight: 300;
      text-align: justify;
   }
   
   .papera {
      color: $red-color;  
   }
   
   .paperv {
      color: $green-color;
   }
   
   .paperl {
      li {
         border: 1px solid #ccc;
         padding: 0.5rem;
         margin: 0.5rem 0.2rem;
         display: inline-block;
      }
   }
}

#morepapers {
   display: none;
}


.showmore {
   border: 1px solid #CCC;
   padding: 1rem;
   font-size: 2.5rem;
   width: 200px;
   text-align: center;
   color: #999;
   margin: 0px auto;
   cursor: pointer;
   margin-bottom: 5rem;
   
   &:hover {
      color: #333;
   }
}

.gr_grid_container {
/* customize grid container div here. eg: width: 500px; */
   width: 100%;
}

.gr_grid_book_container {
/* customize book cover container div here */
   float: left;
   width: 10rem;
   height: 16rem;
   padding: 0px 0px;
   overflow: hidden;
   margin-bottom: 6rem;
}