<div class="hero">
  <div id="sky">
  </div>
  <div class="container">
    <div class="row">
      <div class="col w-4 p-1">
        <img src="/images/avatar.png" class="avatar u-center" alt="my picture" />
      </div>
      <div class="col w-7 contact">
        <h2>Jayesh K. Gupta</h2>
        <h3>Stanford CS Ph.D. Student</h3>
        <p>mail@rejuvyesh.com (<a href="/rejuvyesh.key">GPG</a>)</p>
        <h2>
          <a href="http://github.com/rejuvyesh"><i class="fa fa-github"></i></a>
          <a href="http://facebook.com/jayesh.k.gupta"><i class="fa fa-facebook"></i></a>
          <a href="http://twitter.com/rejuvyesh"><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-book"></i></a>
          <a href=""><i class=""></i></a>
        </h2>
      </div>
    </div>
  </div>
</div>
