<div class="hero">
  <div id="sky">
  </div>
  <div class="container">
    <div class="row">
      <div class="col w-10 p-2">
        <div class="row">
          <div class="col w-4">
            <img src="/images/avatar.jpg" class="avatar u-center img-responsive" alt="my picture" />
          </div>
          <div class="col w-6 contact">
            <div class="name">
              Jayesh K. Gupta 
            </div>
            
            <div class="place">Stanford CS Ph.D. Student</div>
            <div class="mail"><a href="mailto:&#106;&#107;&#103;&#064;&#099;&#115;&#046;&#115;&#116;&#097;&#110;&#102;&#111;&#114;&#100;&#046;&#101;&#100;&#117;">&#106;&#107;&#103;&#064;&#099;&#115;&#046;&#115;&#116;&#097;&#110;&#102;&#111;&#114;&#100;&#046;&#101;&#100;&#117;</a> / <a href="mailto:mail@rejuvyesh.com">mail@rejuvyesh.com</a><br></div>
            <h2>
              <a href="http://github.com/rejuvyesh"><i class="fa fa-github"></i></a>
              <a href="http://facebook.com/jayesh.k.gupta"><i class="fa fa-facebook"></i></a>
              <a href="http://twitter.com/rejuvyesh"><i class="fa fa-twitter"></i></a>
              <a href="http://goodreads.com/rejuvyesh"><i class="fa fa-book"></i></a>
            </h2>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
