<div class="hero">
  <div id="sky">
  </div>
  <div class="container">
    <div class="row">
      <div class="col w-10 p-2">
        <div class="row">
          <div class="col w-4">
            <img src="/images/avatar.png" class="avatar u-center" alt="my picture" />
          </div>
          <div class="col w-6 contact">
            <div class="name">
              Jayesh K. Gupta 
            </div>
            
            <div class="place">Stanford CS Ph.D. Student</div>
            <div class="mail"><a href="mailto:&#109;&#097;&#105;&#108;&#064;&#114;&#101;&#106;&#117;&#118;&#121;&#101;&#115;&#104;&#046;&#099;&#111;&#109;">&#109;&#097;&#105;&#108;&#064;&#114;&#101;&#106;&#117;&#118;&#121;&#101;&#115;&#104;&#046;&#099;&#111;&#109;</a>(<a href="/rejuvyesh.key">GPG</a>)</div>
            <h2>
              <a href="http://github.com/rejuvyesh"><i class="fa fa-github"></i></a>
              <a href="http://facebook.com/jayesh.k.gupta"><i class="fa fa-facebook"></i></a>
              <a href="http://twitter.com/rejuvyesh"><i class="fa fa-twitter"></i></a>
              <a href="http://goodreads.com/rejuvyesh"><i class="fa fa-book"></i></a>
            </h2>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
