<% render '/default.*' do %>
<%= render '/title.*' %>
    <div class="section">
      <div class="container">
        <div class="row">
          <!-- Blog post -->
          <div class="col w-8 p-2">
            <div class="post">
              <h1><%= @item[:title] %></h1>
              <div class="row">
                <div class="col w-4">
                  <div class="date">
                    <i class="fa fa-calendar"></i> <%= @item[:created_at] %></div>
                </div>
                <div class="col w-4">
                  <div class="tags">
                    <i class="fa fa-tags"></i> <%= %>
                  </div>
                </div>
              </div>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
